<div class="modal-header">
  <h3 class="modal-title">{{ vm.options.title }}</h3>
</div>
<div class="modal-body">
  <form class="form-horizontal">
    <div class="form-group">
      <label for="name" class="col-sm-2 control-label">Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="name" placeholder="Name" ng-model="vm.inputs.name">
      </div>
    </div>
    <div class="form-group">
      <label for="role" class="col-sm-2 control-label">Role</label>
      <div class="col-sm-10">
        <select class="form-control" id="role" ng-options="role.id as role.name for role in vm.defaults.roles" ng-model="vm.inputs.role_id"></select>
      </div>
    </div>
    <div class="form-group">
      <label for="username" class="col-sm-2 control-label">Username</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="username" placeholder="Username" ng-model="vm.inputs.username">
      </div>
    </div>
    <div class="form-group">
      <label for="password" class="col-sm-2 control-label">Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="password" placeholder="Password"
        ng-model="vm.inputs.password">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Regions</label>
      <div class="col-sm-10 checkbox">
          <label style="margin-right:7px;" ng-repeat="region in vm.defaults.regions">
            <input type="checkbox" ng-model="vm.inputs.regions[$index]" ng-true-value="{{ region }}" ng-false-value="undefined"> {{ region.name }}
          </label>
      </div>
    </div>
    <div class="form-group" ng-if="region" ng-repeat="region in vm.inputs.regions">
      <label class="col-sm-2 col-sm-offset-2 control-label">
        {{ region.name }}
      </label>
      <div class="col-sm-8">
        <ui-select multiple ng-model="vm.inputs.regions[$index].permissions" theme="bootstrap" sortable="true" close-on-select="false">
          <ui-select-match class="ui-select-match" placeholder="Permissions">
            {{ $item.name }}
          </ui-select-match>
          <ui-select-choices class="ui-select-choices" repeat="permission in vm.defaults.permissions | filter: $select.search track by permission.bit">
            {{ permission.name }}
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="vm.ok()">Save</button>
  <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
</div>
